<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag("/orgs", action: 'create', method: 'post') do  %>
  <%= label_tag "New Org" %> 
  <%= text_field_tag "org_name", nil, org:  %> 
<% end %>
